<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Logo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav" *ngIf="user.name != undefined">
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item dropdown" *ngIf="user.role != 'User'">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Users</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/users/add" *ngIf="user.role == 'SuperAdmin'">Add</a></li>
              <li><a class="dropdown-item" routerLink="/users/list">List</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logout()">Logout</a>
          </li>  
        </ul>
        <!-- <button (click)="click()">click</button> -->
        <div *ngIf="user.name != undefined" style="color: #ffffff;">Welcome {{user.name}}</div>
      </div>
    </div>
  </nav>