<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-primary" (click)="openModal(template)">Create template modal</button>
 
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    This is a modal.
    <button type="button" (click)="submit()">submit</button>
  </div>
</ng-template>

<br>
<app-view [user]="userData" (dataUpdated)="notifyUpdate($event)">
</app-view>

{{ n|number:'3.1-4' }}
{{d|date:'yyyy-MM-dd'}}

{{c|currency:'USD'}}

{{'ninad gaikwad' | cap}}
        <table class="table">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Email
                </th>
                <th>
                    Skills
                </th>
                <th>
                    Gender
                </th>
                <th>
                    Action
                </th>
            </tr>
            <tr *ngFor="let user of usersList">
                <td>
                    {{user.name}}
                </td>
                <td>
                    {{user.email}}
                </td>
                <td>
                    <span class="badge bg-secondary me-1" *ngFor="let s of user.skills">{{ s.subject }}</span>
                </td>
                <td>
                    {{user.gender == 'm' ? 'Male' : 'Female' }}
                </td>
                <td>
                    <button class="btn btn-primary" (click)="delete(user.id)">Delete</button>
                    <button class="" (click)="edit(user.id)" *ngIf="isAccessible">Edit</button>
                    <button class="" (click)="view(user)">View</button>
                </td>
            </tr>
        </table>
    </div>
</div>